*{
box-sizing:border-box;
font-family:tahoma;
}


body{

margin:0;

background:#fff1f6;

color:#34252b;

}



header{

background:#d989a7;

color:white;

text-align:center;

padding:35px;

}



header h1{

font-size:42px;

margin:0;

}




.intro{

max-width:1000px;

margin:35px auto;

padding:25px;

display:flex;

gap:35px;

align-items:center;

background:white;

border-radius:30px;

box-shadow:0 10px 30px #e7c4d2;

}



.image-card img{

width:300px;

height:300px;

object-fit:cover;

border-radius:25px;

cursor:pointer;

}




.intro-text h2{

color:#b44f73;

font-size:32px;

}




.section{

background:white;

max-width:1000px;

margin:30px auto;

padding:35px;

border-radius:30px;

box-shadow:0 10px 30px #e7c4d2;

}



h2{

text-align:center;

color:#b44f73;

}





.specs{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:15px;

}



.specs div{

background:#fff3f7;

padding:20px;

border-radius:18px;

border:1px solid #f2c8d7;

}



.specs span{

display:block;

color:#9b7180;

}



.specs b{

display:block;

margin-top:10px;

color:#b44f73;

}





.price{

background:#c86f91;

color:white;

text-align:center;

padding:45px;

}



.price h2{

color:white;

}



.price h1{

font-size:45px;

}





.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:20px;

}



.gallery img{

width:100%;

height:150px;

object-fit:cover;

border-radius:18px;

cursor:pointer;

}





.about{

text-align:center;

line-height:2;

}





.contact{

background:#d989a7;

color:white;

text-align:center;

padding:40px;

}



.contact h2{

color:white;

}



.contact a{

background:white;

color:#c15b7d;

padding:15px 45px;

border-radius:30px;

text-decoration:none;

}



#viewer{

display:none;

position:fixed;

inset:0;

background:#000c;

justify-content:center;

align-items:center;

z-index:10;

}



#viewer img{

max-width:90%;

max-height:90%;

border-radius:20px;

}



footer{

background:#35242b;

color:white;

padding:20px;

text-align:center;

}




@media(max-width:700px){

.intro{

flex-direction:column;

}


.image-card img{

width:240px;

height:240px;

}

}
